<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwx.transmanage.mapper.DailyMapper">

    <resultMap id="DailyVoMap" type="com.zwx.transmanage.domain.vo.DailyVo">
        <id column="ID" property="id"/>
        <result column="USERID" property="userId"/>
        <result column="CONTENT" property="content"/>
        <result column="ISEVECTION" property="isEvection"/>
        <result column="DAILYDATE" property="dailyDate"/>
        <result column="CREATETIME" property="createTime"/>
        <result column="UPDATETIME" property="updateTime"/>
    </resultMap>

    <select id="countDaily" parameterType="Integer" resultType="Integer">
        select count(1) from `daily` where `USERID` = #{userId};
    </select>

    <select id="selectDailyListByUserId" resultMap="DailyVoMap">
        SELECT  * from `daily` where 1=1 and
        `USERID` = #{userId} order by DAILYDATE desc
        limit #{pageModel.startRow},#{pageModel.pageSize}
    </select>

    <select id="countDailyByDate" resultType="Integer">
        select count(1) from `daily` where 1=1
        and `USERID` = #{userId} and `DAILYDATE` = #{dailyDate}
    </select>

    <insert id="addDaily" parameterType="com.zwx.transmanage.domain.dto.DailyDto">
        insert into `daily` (`USERID`,`CONTENT`,`ISEVECTION`,`DAILYDATE`,`CREATETIME`,`UPDATETIME`)
        VALUES (#{userId},#{content},#{isEvection},#{dailyDate},now(),now());
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from `daily` where 1=1 and `id`= #{id}
    </delete>

    <update id="update" parameterType="com.zwx.transmanage.domain.dto.DailyDto">
        update `daily`
        set `CONTENT` = #{content},
            `ISEVECTION` = #{isEvection},
            `UPDATETIME` = now()
        where 1=1 and id = #{id}
    </update>

    <select id="selectDailyVoByUserId" resultMap="DailyVoMap">
        SELECT  * from `daily` where 1=1 and
        `USERID` = #{userId} order by `dailydate` desc limit 7
    </select>
</mapper>