<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwx.transmanage.mapper.MenuMapper">

    <resultMap id="MenuVoMap" type="com.zwx.transmanage.domain.vo.MenuVo">
        <id column="ID" property="id"/>
        <result column="TEXT" property="text"/>
        <result column="ICON" property="icon"/>
        <result column="HREF" property="href"/>
        <result column="PARENTID" property="parentId"/>
        <result column="AVAILABLE" property="available"/>
    </resultMap>

    <select id="getMenu" resultMap="MenuVoMap">
        select `id`,`text`,`href`,`parentId`,`available`,`icon` from `menu` where `PARENTID` = 0 and `AVAILABLE` = 1;
    </select>

    <select id="getMenuById" resultMap="MenuVoMap">
        select `id`,`text`,`href`,`parentId`,`available`,`icon` from `menu` where `AVAILABLE` = 1 and `PARENTID` = #{id};
    </select>

</mapper>